.grid-container {
  display: grid;
 
  border: solid black 1px;
  grid-template-columns: 200px 200px 200px 200px 200px; /* Define columns in pixels */
  grid-template-rows: 200px 200px 200px 200px 200px; /* Define rows in pixels */
  background-color: #dddddd;
}

.head {
  position: relative;
  left: -30px;
  bottom: 30px;
  width: 270px;
  height: 255px;
  z-index: 3;
  background-color: #ffffff;
  border-radius: 50%;
  grid-column-start: 3;
  grid-row-end: 3;
  border-color: black;
}

.head > .eye {
  position: relative;
  background: black; 
  width: 50px;
  height: 70px;
  border-radius: 50%;
}

.head > .eye:nth-child(1) {
  left: 10%;
  bottom: -40%; 
}

.head > .eye:nth-child(2) {
  right: -64%; 
  bottom: -12%; 
}

.head > .eye > .pupil{
  position: relative;
  background: #ffffff; 
  right: -35%;
  bottom: -5%;
  width: 20px;
  height: 22px;
  border-radius: 50%;
  rotate: 10deg;
}

.head > .nose {
  position: relative;
  right: -33%;
  bottom: 5%; 
  width: 70px;
  height: 50px;
  border-radius: 50%;
  background-color: #B87A2D;
}

.head > .freckles{
  position: relative;
  width: 5px; 
  height: 5px; 
  background-color: black;
  border-radius: 50%;
  
}

.head > .first-freckles{
  position: relative;
  left: 37px;
  bottom: 48px;
}

.head > .last-freckles{
  position: relative;
  left: 185px;
  bottom: 53px;
}

.freckles::before {
  top: -6.5px;
  left: 30px; 
  transform: translate(-50%, -50%);
}

.freckles::after {
  top: -5px;
  right: -12px; 
  transform: translate(50%, -50%);
}

.freckles::before,
.freckles::after {
  content: '';
  position: relative;
  display: inline-block;
  width: 5px; 
  height: 5px; 
  background-color: black; 
  border-radius: 50%;
  z-index: 4;
}

.head > .mouth {
  position: relative;
  left: 38%;
  top: -0%;
  width: 40px;
  height: 40px;
  border: 3px solid #000000;
  border-left: 0;
  border-top: 0;
  transform: rotate(225deg);
  z-index: 4;
}

.neck-container{
  position: relative;
  display: grid;
  grid-template-columns: 30px 40px 30px 35px 40px;
  grid-template-rows: 50px;
  grid-column-start: 3;
  grid-row-start: 3;
}

.neck{
  position:relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #77ddee;
}

.neck:nth-child(1){
  position: relative;
  top: -10px;
  right: -5px;
  grid-column-start: 1;
  z-index: 2;

}

.neck:nth-child(2){
  grid-column-start: 2;
  bottom: -5px;
  z-index: 3;
}

.neck:nth-child(3){
  grid-column-start: 4;
  z-index: 3;
}

.neck:nth-child(4){
  position: relative;
  top: -10px;
  grid-column-start: 5;
  z-index: 3;
}

.body {
  width: 225px;
  height: 250px;
  z-index: 2;
  background-color: #77ddee;
  position: relative;
  border-radius: 50% 50% 50% 50% / 65% 65% 35% 35%;
  grid-column-start: 3;
  grid-row-end: 4;
  border-color: black;
}

.left-arm {
  position:relative;
  left: -20px;
  z-index: 1;
  width: 60px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 77% 23% 50% 50% / 80% 80% 20% 20% ;
  grid-column-start: 3;
  grid-row-end: 4;
  border-color: black;
  rotate: -90deg;
}

.right-arm {
  position:relative;
  left: -85px;
  top: 10px;
  z-index: 4;
  width: 60px;
  height: 135px;
  background-color: #ffffff;
  border-radius: 77% 23% 50% 50% / 80% 80% 20% 20% ;
  grid-column-start: 4;
  grid-row-end: 4;
  border-color: black;
  rotate: -110deg;
}

.shell-1{
  position:relative;
  left: 50px;
  top: 70px;
  z-index: 3;
  width: 120px;
  height: 85px;
  background-color: #ddddaa;
  border-radius: 50%;
  grid-column-start: 3;
  grid-row-end: 4;
  border-color: black;
}

.shell-2{
  position:relative;
  left: 75px;
  top: 140px;
  z-index: 3;
  width: 70px;
  height: 40px;
  background-color: #ddddaa;
  border-radius: 50%;
  grid-column-start: 3;
  grid-row-end: 4;
  border-color: black;
}

.tail{
  position:relative;
  bottom: 110px;
  z-index: 1;
  width: 60px;
  height: 140px;
  background-color: #2e4769;
  border-radius: 50% 50% 50% 50% / 10% 9% 91% 90%;
  grid-column-start: 4;
  grid-row-end: 5;
  border-color: black;
  rotate: 60deg;
}

.left-feet{
  position:relative;
  z-index: 1;
  bottom: 15px;
  left: 20px;
  width: 65px;
  height: 110px;
  background-color: #395884;
  border-radius: 50% 50% 50% 50% / 10% 10% 90% 90%   ;
  grid-column-start: 3;
  grid-row-end: 5;
  border-color: black;
  rotate: -130deg;
}

.right-feet{
  position:relative;
  left: -65px;
  bottom: 15px;
  z-index: 1;
  width: 65px;
  height: 110px;
  background-color: #395884;
  border-radius: 50% 50% 50% 50% / 10% 10% 90% 90% ;
  grid-column-start: 4;
  grid-row-end: 5;
  border-color: black;
  rotate: 130deg;
}

.triangle {
  width: 0;
  height: 0;
  position: relative;
  grid-column-start: 3;
  grid-row-end: 3;
}

.triangle .left-ear{
  position: relative;
  bottom: 10px;
  left: -20px;
  border-top: 100px solid #395884;
  border-right: 100px solid transparent;
  z-index: 2;
}

.triangle .right-ear{
  position: relative;
  bottom: 10px;
  left: 150px;
  border-top: 80px solid #395884;
  border-left: 80px solid transparent;
  z-index: 4;
}